# Time zone in tz database format
TZ=Asia/Jakarta
ENV=ANYTHING
WORKERS=4
BOT_TOKEN=
# ID of user which can configure the bot throught PM
OWNER_ID=1402421781
# Chat ID's in format -100XXXXXXXXXX
FROM_CHATS=-1001557022063, -1001545504869
TO_CHATS=-1001508780896
